# It's useful when running with vproxy WebSocksProxyServer
# So I recorded this service file here

[Unit]
Description=kcptun
After=network.target

[Service]
# file path to kcptun server side executable file
Environment="KCP="
# exposed udp port
Environment="UDP=8443"
# local tcp port
Environment="TCP=443"
ExecStart=/usr/bin/env $KCP -t 127.0.0.1:${TCP} -l :${UDP} -mode fast3 -nocomp -dscp 46
Restart=always
Type=simple
SuccessExitStatus=143

[Install]
WantedBy=vp-ws-server.service
