# It's useful when udp not allowed through firewalls
# Sometimes the tcp packets created by udp2raw fail to pass firewalls and rsock seems ok
# However note that rsock is buggy (vproxy managed to recover from some bugs of rsock),
# and make sure TCP ports are in a much more range than vproxy requires, there seems to
# have some concurrency problems of rsock.

[Unit]
Description=rsock
After=network.target

[Service]
# file path to rsock executable file
Environment="RSOCK="
# exposed tcp port
Environment="TCP_RANGE=20101-20120"
# local udp port
Environment="UDP=443"
ExecStart=/usr/bin/env ${RSOCK} -t 127.0.0.1:${UDP} --ports ${TCP_RANGE} --daemon=0
Restart=always
Type=simple
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
