[Unit]
Description=vproxy WebSocks Proxy Server with graal native image
After=network.target

[Service]
# fill in VPROXY_EXECUTABLE with the path to the vproxy file
Environment="VPROXY_EXECUTABLE="
# pid file of the daemon process
Environment="PIDFILE=/run/vp.ws.pid"
# jvm options
Environment="JVM_OPTS="
# cert and key file path
Environment="CERT=" "KEY="
# auth
Environment="AUTH="
# other args
Environment="ARGS="
# start up for ssl
ExecStart=/usr/bin/env ${VPROXY_EXECUTABLE} $JVM_OPTS -Deploy=WebSocksProxyServer \
          listen 443 redirectport 80 \
          ssl certpem $CERT keypem $KEY \
          auth $AUTH \
          kcp \
          ${ARGS}
# start up for plain tcp
# ExecStart=/usr/bin/env ${JAVA_HOME}/bin/java $JVM_OPTS -Deploy=WebSocksProxyServer -jar $VPROXY_JAR listen 80 auth $AUTH
Restart=always
Type=simple
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
