[Unit]
Description=vproxy instance
After=network.target

[Service]
# fill in JAVA_HOME and VPROXY_JAR with the path to java home directory and the path to vproxy.jar file
Environment="JAVA_HOME=" "VPROXY_JAR="
# pid file of the daemon process
Environment="PIDFILE=/run/vproxy.daemon.pid"
# jvm options
Environment="JVM_OPTS="
# vproxy startup arguments
Environment="ARGS=pidFile /run/vproxy.pid autoSaveFile /etc/vproxy/vproxy.conf load /etc/vproxy/vproxy.conf resp-controller 0.0.0.0:16309 123456 http-controller 0.0.0.0:18776 allowSystemCommandInNonStdIOController"
# ExecStartPre=
# no need to set ExecStartPre, the Daemon will execute check before launching the program
ExecStart=/usr/bin/env ${JAVA_HOME}/bin/java -Xmx8m -Deploy=Daemon -jar $VPROXY_JAR ${JAVA_HOME}/bin/java $JVM_OPTS -jar $VPROXY_JAR $ARGS
ExecReload=/usr/bin/env ${JAVA_HOME}/bin/java -jar $VPROXY_JAR $ARGS noStartupBindCheck check
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed
Restart=always
SuccessExitStatus=143
Type=simple

[Install]
WantedBy=multi-user.target
