[submodule "submodules/msquic-java"]
	path = submodules/msquic-java
	url = https://github.com/wkgcass/msquic-java
	branch = panama

[submodule "submodules/fubuki"]
	path = submodules/fubuki
	url = https://github.com/xutianyi1999/fubuki
	branch = master
