[submodule "submodules/msquic-java"]
	path = submodules/msquic-java
	url = https://github.com/wkgcass/msquic-java
	branch = panama

[submodule "submodules/fubuki"]
	path = submodules/fubuki
	url = https://github.com/wkgcass/fubuki
	branch = with-Cargo-lock

[submodule "submodules/libae"]
	path = submodules/libae
	url = https://github.com/vproxy-tools/libae-valkey.git
	branch = vproxy
